
.center {
    position: relative;
    display: block;
    margin: auto;
    margin-right: auto;
    width: 35%;
    border-radius: 4%;
}

.button {
    width: 10%;
    background-color: lightgray;
}

.seat {
    text-align: center;
    font-size: large;
}

.box {
    width: 17;
    height: 18px;
    border: 1px solid;
    background-color: red;
}

.flex-container {
    display: flex;
}

.imagine {
    position: absolute;
    top: 360px;
    right: 563px;
    height: 79%;
    width: 9%;
}

.imagine2 {
    position: absolute;
    right: 562px;
    top: 670px;
    height: 57%;
    width: 9%;
}