.navbar{
    background-color: rgb(11, 11, 71);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
}
.parent{ 
    width: 90%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.custom-select {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(244, 250, 250);
    border-color: transparent;
    top: 7px;
}


.footer-inner {
    display: flex;
    background-color:#ced4da;
    height: 80%;
    width: 80%;
    justify-items: center;
  }
  .footer-item {
    margin: 0 7.2% 0 0;
    text-size-adjust: 20%;
  }